.box1 {
  padding: 7%;
  background-color: #EFEFEF;
}

.text-head {
  text-align: center;
  justify-content: center;
  line-height: 40px;
}

.text-head hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(26, 174, 9, 0), rgba(26, 174, 9, 0.75), rgba(26, 174, 9, 0));
  margin: 10px 450px;
}

.grid-col {
  display: grid;
  padding-top: 50px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 20px;
  line-height: 30px;
}

.box-text1 {
  background: #ffffff;
  border-radius: 5px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 20px;
  font-size: 14px;
}

.box-text1 h3 i {
  display: inline;
  margin: 0px 0px 0px 230px;
  ;
}

.box-text2 {
  background: #ffffff;
  border-radius: 5px;
  padding: 20px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 14px;
}

.box-text2 h3 i {
  display: inline;
  margin: 0px 0px 0px 140px;
  ;
}

.box-text3 {
  background: #ffffff;
  border-radius: 5px;
  padding: 20px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 14px;
}

.box-text3 h3 i {
  display: inline;
  margin: 0px 0px 0px 110px;
  ;
}

.box-text4 {
  background: #ffffff;
  border-radius: 5px;
  padding: 20px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 14px;
}

.box-text4 h3 i {
  display: inline;
  margin: 0px 0px 0px 200px;
  ;
}

.box-text5 {
  background: #ffffff;
  border-radius: 5px;
  padding: 20px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  font-size: 14px;
}

.box-text5 h3 i {
  display: inline;
  margin: 0px 0px 0px 130px;
  ;
}

.box-text6 {
  background: #ffffff;
  border-radius: 5px;
  padding: 20px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  font-size: 14px;
}

.box-text6 h3 i {
  display: inline;
  margin: 0px 0px 0px 180px;
  ;
}